body{
    padding: 0;
    border: 0;
    background-color: black;
    text-align: center;
}

.logo{
    margin:100px;
    padding:50px;
    border: 1px white dashed;
    text-align: center;
}

.imagen{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 200px;
}